<configuration>
  <system.web>
    <!--  VULNERABLE: Hardcoded, shared machineKey -->
    <machineKey 
      validationKey="C551753B0325187D1759B4FB055B44F7C5077B016C02AF674E8DE69351B69FEFD045A267308AA2DAB81B69919402D7886A6E986473EEEC9556A9003357F5ED45"
      decryptionKey="F6722806843145965513817CEBDECBB1F94808E4A6C0B2F2"
      validation="SHA1" 
      decryption="AES" />
    
    <!-- Also risky: Explicitly disabling ViewState protections -->
    <pages enableViewStateMac="false" viewStateEncryptionMode="Never" />
  </system.web>
</configuration>

